<a href="/home">Home</a>
<br> <br>

<h3>Please Enter: </h3>

<form method="POST" action="/add">
	Name of Food: <input type="text" name="name"><br>
	Time Eaten: <input type="text" name="time"><br>
	Price: <input type="text" name="price"><br>
	Calories: <input type="text" name="cals"><br>
	<input type="submit">
	<br>
</form>