<script src="newgoal.js" type="text/javascript"></script>

<h3>Ready to start a new day? Please enter your goals for today: </h3>

<div id="err" class="handle"></div>

<form name="myform1" method="POST" action="/goals" onsubmit="return isCorrect(displayErr)">
	Caloric Goal: <input type="number" name="cal" value=0><br>
	Monetary Goal: <input type="number" name="mon" value=0><br>
	Date (YEAR-MO-DY): <input type="text" name="date"><br>
	<input type="submit">
	<br>
</form>