<h3>Please Enter: </h3>

<form method="POST" action="/goals">
	Caloric Goal: <input type="text" name="cal"><br>
	Monetary Goal: <input type="text" name="mon"><br>
	Date: <input type="text" name="date"><br>
	<input type="submit">
	<br>
</form>