<script src="newgoal.js" type="text/javascript"></script>

<div class = "log">

	<h3> What are your goals for today? </h3>

	<div id="err" class="handle"></div>

	<form name="myform1" method="POST" action="/goals" onsubmit="return isCorrect(displayErr)">
		<label>Caloric Goal:</label> <input type="text" name="cal" maxlength=4 autofocus><br>
		<label>Monetary Goal:</label> <input type="text" name="mon" maxlength=3><br>
		<label>Date (YEAR-MO-DY):</label> <input type="text" name="date"><br><br>
		<input type="submit" value="Enter">
		<br>
	</form>

</div>