<!DOCTYPE html>
<html>
		<head>
			<link rel="stylesheet" href="public/css/base.css">
		</head>
		<header>
			<title>Calorie Calculatortitle>
			<h1>CALORIE CALCULATOR</h1>
		</header>
		<body>
				<!-- specifies where your template goes -->
				{{{ body }}}
		</body>
		<footer>
		</footer>
</html>