<!DOCTYPE html>
<html>
		<head>
			<link rel="stylesheet" href="/css/base.css">
		</head>
		<header>
			<title>Calorie Calculator</title>
			<h1 id = "heading">CALORIE CALCULATOR</h1>
			{{#if user}}
				<div id = "userDiv">
				<i>{{user.username}}</i> <br>
				<button class = "outBtn" onclick="location.href = '/logout'"> Log Out </button>
				</div>
			{{/if}}
		</header>
		<body>
				<!-- specifies where your template goes -->
				{{{ body }}}
		</body>
		<footer>
		</footer>
</html>