<h2>Log In</h3> 

{{#if message}}
	<div class="error">{{ message }}</div><br><br>
{{/if}}

<form method="POST" action="/login">
	username: <input name="username" type="text">	
	password: <input name="password" type="password">	
	<input type="submit" value="Log In">	
</form>

<br>

Don't have an account? <a href="/register">Click Here</a> to register!
