body {
	background-color: rgb(160, 217, 253);
	color: black;
	font-family: Monaco;
	text-align: center;
	list-style-position: inside;
}

table {
	margin-left: auto;
    margin-right: auto;
}

i {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 5px;
	padding-right: 5px;
	text-align: right;
}

a.logout {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 25px;
	padding-right: 5px;
	text-align: right;
}

div.error {
	background-color: rgb(255, 199, 206);	
	display:inline-block;
	font-family: Courier;
}